@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    overflow-x: hidden;
  }
  h1,
  h2,
  h3,
  h5,
  h6,
  ul,
  button {
    /* font-family: 'Francois One', sans-serif; */
    font-family: 'Jost', sans-serif;
    font-weight: 600;
  }

  p,
  h4 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
  }
  svg.fill-white circle {
    fill: none;
    stroke: #fff;
    stroke-width: 75px;
    transition: stroke 600ms;
  }

  svg.fill-white:hover circle {
    stroke: #16a34a;
  }
}

@layer components {
  h1 {
    @apply text-4xl mb-4 sm:text-6xl sm:mb-6 lg:text-7xl lg:mb-8;
  }
  h2 {
    @apply text-2xl mb-4 sm:text-4xl sm:mb-4 lg:text-6xl lg:mb-8;
  }
  h3 {
    @apply text-xl mb-4 sm:text-2xl sm:mb-4  lg:text-4xl lg:mb-6;
  }
  h4 {
    @apply text-lg mb-4 sm:text-xl sm:mb-4 lg:text-2xl lg:mb-4;
  }
  p {
    @apply text-lg  sm:text-lg lg:text-lg  tracking-wider;
  }
  .gradient-violet-fuchsia {
    @apply bg-gradient-to-r from-violet-900 to-fuchsia-900;
  }
}

/* SCROLL BEHAVIOR */
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 75px;
}
/* ANIMATIONS */

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  99% {
    background-position: 10000% 0;
  }
}

@keyframes animatedBrightness {
  from {
    filter: brightness(1.2);
    transform: scale(1.05);
  }
  to {
    filter: brightness(0.55);
    transform: scale(0.99);
  }
}
